@import "~office-ui-fabric-react/dist/sass/References.scss";

$gutter: 8px;

.explorer {
	.title {
		font-size: "[theme:xxLargeFontSize, default: 28px]";
	}

	.debug {
		margin-top: $gutter * 2;
		padding: $gutter;
		border: 1px solid "[theme:themePrimary, default: #a4262c]";
		font-size: "[theme:tinyFontSize, default: 10px]";

		p {
			margin: 0 0 $gutter / 2;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.stub {
	padding: $gutter / 2;

	%row {
		display: flex;
		justify-content: center;
	}

	.head {
		@extend %row;
		font-size: "[theme:xLargePlusFontSize, default: 24px]";
	}

	.info {
		@extend %row;
		font-size: "[theme:mediumFontSize, default: 14px]";
		text-align: center;
	}

	.icon {
		margin-right: $gutter;
		font-size: "[theme:xxLargePlusFontSize, default: 32px]";
	}
}
